@font-face{
	font-family: BalooTamma2;
	src: url(../fonts/BalooTamma2-Regular.ttf);
	font-weight: 300;
}

@font-face{
	font-family: BalooTamma2;
	src: url(../fonts/BalooTamma2-SemiBold.ttf);
	font-weight: 600;
}

@font-face{
	font-family: BalooTamma2;
	src: url(../fonts/BalooTamma2-ExtraBold.ttf);
	font-weight: 800;
}

@font-face{
	font-family: BalooTamma2;
	src: url(../fonts/BalooTamma2-Medium.ttf);
	font-weight: 500;
}

body{
	font-family: BalooTamma2, arvo, "Helvetica neue", serif;
}

.navbar {
	background-color: transparent;
	border: none;
	padding-top: 0px;
}

.navbar-brand i{
	font-size: 40px;;
}

.navbar-brand i:hover{
	color:#26a1f3;
}

.navbar-brand img{
	width: 90%;
	max-width: 200px;
}

.navbar-inverse .navbar-nav>li>a {	
	color: #fefefe;
	opacity: .7;
	text-transform: uppercase;
	font-weight: bold;
	
	padding-top: 30px;
	padding-bottom: 0px;
}

.jumbotron {
	background: url(../images/code-bckg.jpg) center center;
	background-size: cover;
	padding-bottom: 210px;
	padding-top: 210px;
	border-top: 3px solid #e74c3c;
	margin-top: -80px;
	margin-bottom: 0px;
}

.jumbotron h1{
	padding: 10px;
	margin: 10px 20px;
	font-weight: 600;
	font-size: 60px;
	text-transform: uppercase;
	color: white;
	background-color: rgba(255,255,255,.5);
    border-radius: 35px;
	text-shadow: 1px 1px 2px #333;
}

#bottom .col-sm-4{
	min-height: 300px;
	text-align: center;
	padding-top: 30px;
	padding-left: 5px;
	padding-right: 5px;
}

.portfolio-list{
	max-width: 80%;
	text-align: left;
}

#bottom p{
	color: #555;
	font-weight: 400;
	font-size: 18px;	
}

#bottom a:hover{
	text-decoration: none;
}

#bottom .col-sm-4 .btn-success{
	font-size:16px;
}

#bottom .col-sm-4:hover{
	opacity: .9;
}

#bottom img{
	max-width: 100%;
	margin-bottom: 10px;
}

#web {
	background-size: 100%;
}

#foto {
	background-size: 100%;
}

#adv {
	background-size: 100%;
}

footer{
	background-color: #333;
	color: #fefefe;	
	padding: 15px;
	font-size: 16px;
	font-family: BalooTamma2, arvo, "Helvetica neue", serif;
}

footer p{
	font-size: 18px;
	margin-top: 5px;
}

footer a{
	color: #ccc;
	font-size: 25px;
}

/* Universal Styling */
.highlight{
	color: #26a1f3;
}

.right-align{
	text-align: right;
}

.under-construction{
	min-height: auto;
	background: url(../images/under-construction.png) center center;
	background-size: cover;

	text-align: center;
}

/* Responsive design */
@media (max-width: 768px) {
	
	#bottom p{
		color: #fff;
	}
	
	#web p{
		color: #333;
	}
	
	#bottom col-sm-4{
		min-height: 425px;
		padding-top: 55px;
		padding-bottom: 15px;
	}
	
	.jumbotron{
		margin-top: -200px;
		padding: 20px;
		padding-top: 200px;
		padding-bottom: 60px;
		
	}
	
	.navbar-brand img{
		width: 50%;
	}
	
	.navbar-inverse .navbar-collapse {
		background-color: #333;
		border: none;
	}
}